@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Noto+Serif:ital,wght@0,400;0,500;0,600;1,300&display=swap");
* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-family: "Inknut Antiqua", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("/src/imgs/Battle-game-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 35px;
  margin-top: -20px;
  margin-left: 6rem;
}

:root {
  --carrier-color: rgba(7, 7, 7, 0.5);
  --battleship-color: #666666;
  --cruiser-color: #4d4d4d;
  --submarine-color: #333333;
  --destroyer-color: #1a1a1ad2;
}

.play-btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play-btn {
  width: 20rem;
  height: 5rem;
  border: 4px solid black;
  font-size: 46px;
  letter-spacing: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-text-stroke: 2px #000000;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s ease-in-out;
}

#play-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  transform: scale(1.1);
  cursor: pointer;
}

.place-ships-container {
  padding: 50px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
}

.ships-container {
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  padding: 5px;
  place-content: center;
  width: 100%;
  height: 100%;
}

.place-ships-heading-box {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 4px solid black;
  align-self: center;
  justify-self: center;
  min-width: 350px;
  min-height: 60px;
}

.place-ships-heading-box h2 {
  font-size: 14px;
  color: white;
}

.player-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 1fr;
  column-gap: 80px;
  row-gap: 30px;
}

.place-ships-game-board {
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  width: 25.1rem;
  height: 25.1rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  grid-template-rows: repeat(10, 2.5rem);
  border: 3px solid black;
}

.orientation-container {
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  justify-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#flip {
  width: 90%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-color: #030303;
  font-size: 18px;
  color: white;
  outline: none;
  border: 2px solid transparent;
}

#flip:hover {
  background-color: transparent;
  border: 2px solid black;
}

.ready-to-play-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ready {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

#ready:hover {
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid black;
}

.cell,
.ai-cell {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.ships-to-place-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.carrier-preview {
  width: 12.5rem;
  height: 2.5rem;
  background-color: var(--carrier-color);
  cursor: pointer;
}
.carrier {
  background-color: var(--carrier-color);
  text-align: center;
}

.battleship-preview {
  width: 10rem;
  height: 2.5rem;
  background-color: var(--battleship-color);
  cursor: pointer;
}

.battleship {
  background-color: var(--battleship-color);
  text-align: center;
}

.cruiser-preview {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 7.5rem;
  height: 2.5rem;
  background-color: var(--cruiser-color);
  cursor: pointer;
}

.cruiser {
  background-color: var(--cruiser-color);
  text-align: center;
}

.submarine-preview {
  width: 7.5rem;
  height: 2.5rem;
  background-color: var(--submarine-color);
  cursor: pointer;
}

.submarine {
  background-color: var(--submarine-color);
  text-align: center;
}

.destroyer-preview {
  width: 5rem;
  height: 2.5rem;
  background-color: var(--destroyer-color);
  cursor: pointer;
}

.destroyer {
  background-color: var(--destroyer-color);
  text-align: center;
}

.ship-box h4 {
  text-align: center;
}

.ship-img-box {
  width: 6rem;
  height: 1.8rem;
}

.ship-img-box img {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.place-ships-Ai-game-board {
  align-self: center;
  justify-self: center;
  width: 25.1rem;
  height: 25.1rem;
  background-color: rgba(231, 146, 146, 0.7);
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  grid-template-rows: repeat(10, 2.5rem);
  border: 3px solid black;
}

#overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(20px);
}

#modal {
  z-index: 10;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#modal-heading {
  font-size: 32px;
  letter-spacing: 5px;
  color: white;
  -webkit-text-stroke: 0.5px #000;
  margin-left: 0rem;
}

#play-again,
#quit {
  width: 10rem;
  height: 3rem;
  font-size: 22px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.quit-box {
  float: right;
  top: 0px;
  margin-right: 0px;
  padding: 10px;
}

#play-again:hover,
#quit:hover {
  transform: scale(1.1);
}

#quit {
  background-color: rgba(255, 101, 101, 0.5);
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer p {
  color: #fff;
  letter-spacing: 8px;
  font-size: 10px;
}

footer a svg {
  transition: all 0.3s ease-in;
  margin-top: 15px;
  height: 25px;
  width: 25px;
  border-radius: 10px;
}

footer a svg:hover {
  cursor: pointer;
  background-color: #fff;
}

/* Reusable classes */
.hidden {
  display: none !important;
}

.hit {
  background-image: url("./imgs/hit-box.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url("./imgs/miss-box.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.placed {
  background-color: rgba(0, 0, 0, 0.8);
}

.blur {
  filter: blur(10px);
}

.hitMsgBox {
  background-image: radial-gradient(
    circle,
    #ff0505,
    #f35d00,
    #e48500,
    #d4a300,
    #c5bd2f
  );
}

.transparent {
  background-color: transparent;
}
