@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Noto+Serif:ital,wght@0,400;0,500;0,600;1,300&display=swap");
* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-family: "Inknut Antiqua", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("/src/imgs/Battle-game-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 35px;
  margin-top: -20px;
  margin-left: 6rem;
}

.play-btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play-btn {
  width: 20rem;
  height: 5rem;
  border: 4px solid black;
  font-size: 46px;
  letter-spacing: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-text-stroke: 2px #000000;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s ease-in-out;
}

#play-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  transform: scale(1.1);
  cursor: pointer;
}

.place-ships-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  margin-top: -20px;
  display: grid;
  grid-template-columns: 0.5fr 0.2fr 0.2fr;
  grid-template-rows: 0.2fr 2fr;
  align-items: center;
  justify-items: center;
  column-gap: 4rem;
}

.place-ships-heading-box {
  grid-column: 1 / 4;
  margin-left: 10rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 8px;
  border: 4px solid black;
}

.place-ships-heading-box h2 {
  font-size: 20px;
  color: white;
  letter-spacing: 20px;
  padding-left: 10px;
}

.place-ships-game-board {
  grid-row: 2 / 3;
  width: 30rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 3px solid black;
}

.cell {
  width: 100%;
  height: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.ships-to-place-container {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  width: 20rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.orientation-container {
  margin-top: 5rem;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.ships-to-place-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  border: 3px solid black;
}

.ship-box h4 {
  text-align: center;
}

.ship-img-box {
  border: 2px solid black;
  width: 8rem;
  height: 3rem;
}

.ship-img-box img {
  width: 100%;
  height: 100%;
}

.orientation-container {
  align-self: start;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  row-gap: 1.5rem;
}

.orientation-heading-box h3 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.orientation-btns-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#vertical-btn,
#horizontal-btn {
  width: 5rem;
  height: 2.5rem;
  font-size: 22px;
  border: 4px solid black;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.ingame-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.player-game-board,
.ai-game-board {
  width: 30rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 3px solid black;
}

.player-container-box h5,
.ai-container-box h5 {
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  position: absolute;
  bottom: -20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer p {
  color: #fff;
  letter-spacing: 8px;
  font-size: 10px;
}

footer a svg {
  transition: all 0.3s ease-in;
  margin-top: 15px;
  height: 25px;
  width: 25px;
  border-radius: 10px;
}

footer a svg:hover {
  cursor: pointer;
  background-color: #fff;
}

/* Reusable classes */
.hidden {
  display: none;
}

.hit {
  background-image: url("./imgs/hit-box.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url("./imgs/miss-box.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
